Repository Energinet-DataHub/opengeh-wholesale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/TeamFusion, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

.github/CODEOWNERS:

* @Energinet-DataHub/Mandalorian
/.github/actions @Energinet-DataHub/TeamFusion
/.github/workflows @Energinet-DataHub/TeamFusion
/source/dotnet @Energinet-DataHub/Mandalorian @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Team-Raccoons

Create dbwj-missing-measurements-log.tf (#3130)
  measurements/terraform/calculated-measurements/main/dbwj-missing-measurements-log.tf
Owners: @Energinet-DataHub/Mandalorian

chore: init infrastructure settings correctly
  source/databricks/calculation_engine/tests/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: test calculator args and infrastructure settigns separately
  source/databricks/calculation_engine/tests/infrastructure/test_calculator_args.py
  source/databricks/calculation_engine/tests/infrastructure/test_get_calculator_args.py
  source/databricks/calculation_engine/tests/infrastructure/test_infrastructure_settings.py
Owners: @Energinet-DataHub/Mandalorian

chore: convert datetime to utc at read
  source/databricks/calculation_engine/package/calculation/calculator_args.py
Owners: @Energinet-DataHub/Mandalorian

chore: correctly parse CalculatorArgs for scenario tests
  source/databricks/calculation_engine/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: remove unused properties from infrastructure settings
  source/databricks/calculation_engine/package/infrastructure/infrastructure_settings.py
Owners: @Energinet-DataHub/Mandalorian

test: conform scenario test arguments to contracts
  source/databricks/calculation_engine/tests/scenarios/conftest.py
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_aggregation/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_calculation_period_before_quarterly_resolution_transition_datetime/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_energy_withdrawal_scenario/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_es_and_brp_and_res_change/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_exchange_between_two_other_ga/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_exchange_to_and_from_is_same_ga/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_mp_starts_or_stops/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_only_exchange_mp_in_ga/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_only_nonprofiled_in_ga/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_only_production_in_ga/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_period_is_two_days_with_settlement_change/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_withdrawal_before_quarterly_resolution_transition_datetime/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_withdrawal_period_partially_covers_previous_calculation/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/wholesale_calculation/given_calculation_covers_multiple_ga/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/wholesale_calculation/given_es_and_brp_and_res_change/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/wholesale_calculation/given_extra_fees_or_subscriptions_are_added/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/wholesale_calculation/given_minimal_standard_wholesale_scenario/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/wholesale_calculation/given_no_active_price_points_for_price_elements/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/wholesale_calculation/given_price_elements_starts_or_stops/when/calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/wholesale_calculation/given_wholesale_withdrawal_scenario/when/calculation_arguments.yml
Owners: @Energinet-DataHub/Mandalorian

fix: timezone should be replaced not casted
  source/databricks/calculation_engine/package/calculation/calculator_args.py
Owners: @Energinet-DataHub/Mandalorian

Sauron: Remove security_groups overrides (#3131)
  sauron/terraform/env/prod_001/sqldb_override.tf
  sauron/terraform/env/test_002/sqldb_override.tf
  sauron/terraform/main/sqldb.tf
Owners: @Energinet-DataHub/Mandalorian

Saron. Fix 001 security groups (#3134)
  sauron/terraform/main/sqldb.tf
Owners: @Energinet-DataHub/Mandalorian

chore: all dates for CalculatorArgs must be in utc
  source/databricks/calculation_engine/package/calculation/calculator_args.py
  source/databricks/calculation_engine/tests/conftest.py
  source/databricks/calculation_engine/tests/databases/wholesale_basis_data_internal/basis_data_test_factory.py
  source/databricks/calculation_engine/tests/databases/wholesale_basis_data_internal/test_basis_data_factory.py
  source/databricks/calculation_engine/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: satisfy black
  source/databricks/calculation_engine/package/calculation/calculator_args.py
  source/databricks/calculation_engine/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

Gridloss: Remove security_groups overrides (#3133)
  grid-loss-imbalance-prices/terraform/env/dev_001/mssqldb-grid-loss-imbalance-prices_override.tf
  grid-loss-imbalance-prices/terraform/env/dev_002/mssqldb-grid-loss-imbalance-prices_override.tf
  grid-loss-imbalance-prices/terraform/env/dev_003/mssqldb-grid-loss-imbalance-prices_override.tf
  grid-loss-imbalance-prices/terraform/env/preprod_001/mssqldb-grid-loss-imbalance-prices_override.tf
  grid-loss-imbalance-prices/terraform/env/prod_001/mssqldb-grid-loss-imbalance-prices_override.tf
  grid-loss-imbalance-prices/terraform/env/test_001/mssqldb-grid-loss-imbalance-prices_override.tf
  grid-loss-imbalance-prices/terraform/env/test_002/mssqldb-grid-loss-imbalance-prices_override.tf
  grid-loss-imbalance-prices/terraform/main/mssqldb-grid-loss-imbalance-prices.tf
Owners: @Energinet-DataHub/Mandalorian

chore: remove monkeysession
  source/databricks/calculation_engine/package/calculation/calculator_args.py
  source/databricks/calculation_engine/tests/calculator_job/conftest.py
  source/databricks/calculation_engine/tests/conftest.py
  source/databricks/calculation_engine/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: satisfy black
  source/databricks/calculation_engine/package/calculation/calculator_args.py
  source/databricks/calculation_engine/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: tests should be runnable locally
  source/databricks/calculation_engine/tests/conftest.py
  source/databricks/calculation_engine/tests/databases/wholesale_results_internal/test_amounts_per_charge_storage_model_factory.py
  source/databricks/calculation_engine/tests/databases/wholesale_results_internal/test_energy_storage_model_factory.py
  source/databricks/calculation_engine/tests/databases/wholesale_results_internal/test_monthly_amounts_per_charge_storage_model_factory.py
  source/databricks/calculation_engine/tests/databases/wholesale_results_internal/test_total_monthly_amounts_storage_model_factory.py
  source/databricks/calculation_engine/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: satisfy black
  source/databricks/calculation_engine/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

added database envs
  measurements/terraform/calculated-measurements/main/dbwj-calculated-measurements-database-migration.tf
Owners: @Energinet-DataHub/Mandalorian

chore: is-internal-calculation should only be included is its True
  source/databricks/calculation_engine/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: satisfy black
  source/databricks/calculation_engine/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: adjust for daylight savings
  source/databricks/calculation_engine/tests/calculation/energy/test_resolution_transition_factory.py
Owners: @Energinet-DataHub/Mandalorian

test
  measurements/terraform/calculated-measurements/main/dbwj-calculated-measurements-database-migration.tf
Owners: @Energinet-DataHub/Mandalorian

test rewoked
  measurements/terraform/calculated-measurements/main/dbwj-calculated-measurements-database-migration.tf
Owners: @Energinet-DataHub/Mandalorian

chore: message has changed
  source/dotnet/subsystem-tests/Features/Calculations/WholesaleFixingCalculationJobScenario.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

implemented variables
  measurements/terraform/calculated-measurements/main/dbwj-calculated-measurements-database-migration.tf
  measurements/terraform/calculated-measurements/main/dbwj-capacity-settlement.tf
  measurements/terraform/calculated-measurements/main/dbwj-electrical-heating.tf
  measurements/terraform/calculated-measurements/main/dbwj-missing-measurements-log.tf
  measurements/terraform/calculated-measurements/main/locals.tf
Owners: @Energinet-DataHub/Mandalorian

chore: CategoryName has changed
  source/dotnet/subsystem-tests/Features/Calculations/WholesaleFixingCalculationJobScenario.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

update
  source/databricks/calculation_engine/tests/coverage/all_cases_wholesale.yml
  source/databricks/calculation_engine/tests/coverage/all_test_cases_wholesale.yml
  source/databricks/calculation_engine/tests/coverage/coverage_mapping.sample.yml
  source/databricks/calculation_engine/tests/scenarios/data_products/wholesale_basis_data/given_minimal_wholesale_basis_data_scenario/coverage_mapping.yml
  source/databricks/calculation_engine/tests/scenarios/data_products/wholesale_results/given_latest_calculations_by_day_scenario/coverage_mapping.yml
  source/databricks/calculation_engine/tests/scenarios/data_products/wholesale_results/given_minimal_energy_results_scenario/coverage_mapping.yml
Owners: @Energinet-DataHub/Mandalorian

moved Unity TF code from core to calculated measurements
  measurements/terraform/calculated-measurements/main/dbw-unity.tf
  measurements/terraform/core/main/dbw-unity.tf
Owners: @Energinet-DataHub/Mandalorian

update
  source/databricks/calculation_engine/tests/scenarios/data_products/wholesale_results/given_minimal_wholesale_results_scenario/coverage_mapping.yml
  source/databricks/calculation_engine/tests/scenarios/data_products/wholesale_sap/given_energy_scenario/coverage_mapping.yml
  source/databricks/calculation_engine/tests/scenarios/data_products/wholesale_sap/given_latest_calculations_history_scenario/coverage_mapping.yml
Owners: @Energinet-DataHub/Mandalorian

naming errors
  measurements/terraform/calculated-measurements/main/dbw-unity.tf
  measurements/terraform/calculated-measurements/main/dbwj-calculated-measurements-database-migration.tf
  measurements/terraform/calculated-measurements/main/dbwj-capacity-settlement.tf
  measurements/terraform/calculated-measurements/main/dbwj-electrical-heating.tf
  measurements/terraform/calculated-measurements/main/dbwj-missing-measurements-log.tf
Owners: @Energinet-DataHub/Mandalorian

fixed database names
  source/databricks/calculation_engine/package/infrastructure/paths.py
Owners: @Energinet-DataHub/Mandalorian

update
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/exchange.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/exchange_per_neighbor.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/flex_consumption.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/flex_consumption_per_brp.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/flex_consumption_per_es.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/grid_loss.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/negative_grid_loss.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/non_profiled_consumption.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/non_profiled_consumption_per_brp.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/non_profiled_consumption_per_es.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/positive_grid_loss.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/production.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/production_per_brp.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/production_per_es.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/temporary_flex_consumption.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/temporary_production.csv
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/then/energy_results/total_consumption.csv
Owners: @Energinet-DataHub/Mandalorian

Update tj-actions/changed-files to v46.0.1
  .github/workflows/packages-publish.yml
Owners: @Energinet-DataHub/TeamFusion

Update release-notes.md
  source/dotnet/wholesale-integration-events-package/Contracts.Documentation/release-notes/release-notes.md
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update detect-changes.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TeamFusion

Update tj-actions/changed-files to v46.0.1
  source/dotnet/wholesale-integration-events-package/Contracts.Documentation/release-notes/release-notes.md
  source/dotnet/wholesale-integration-events-package/Contracts/Contracts.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update tj-actions/changed-files to v46.0.1 (#3128)
  .github/workflows/detect-changes.yml
  .github/workflows/packages-publish.yml
  source/dotnet/wholesale-integration-events-package/Contracts.Documentation/release-notes/release-notes.md
  source/dotnet/wholesale-integration-events-package/Contracts/Contracts.csproj
Owners: @Energinet-DataHub/TeamFusion, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update calculation_arguments.yml
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/when/calculation_arguments.yml
Owners: @Energinet-DataHub/Mandalorian

added env variables to wholesale
  wholesale/terraform/main/dbwj-calculator.tf
  wholesale/terraform/main/locals.tf
Owners: @Energinet-DataHub/Mandalorian

update
  source/databricks/calculation_engine/tests/coverage/all_test_cases.py
  source/databricks/calculation_engine/tests/scenarios/energy_calculation/given_minimal_standard_energy_scenario/coverage_mapping.yml
Owners: @Energinet-DataHub/Mandalorian
