Repository Energinet-DataHub/opengeh-wholesale, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/TeamFusion, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update all_cases_wholesale.yml
  source/databricks/calculation_engine/tests/coverage/all_cases_wholesale.yml
Owners: @Energinet-DataHub/Mandalorian

removed wrong quotes
  measurements/terraform/calculated-measurements/main/dbwj-capacity-settlement.tf
Owners: @Energinet-DataHub/Mandalorian

remoed wrong attribute name
  measurements/terraform/calculated-measurements/main/dbwj-capacity-settlement.tf
Owners: @Energinet-DataHub/Mandalorian

fix: configure logging takes logging_settings
  source/databricks/calculation_engine/package/optimize_job/delta_optimization.py
Owners: @Energinet-DataHub/Mandalorian

fix: configure logging takes logging_settings (#3130)
  source/databricks/calculation_engine/package/optimize_job/delta_optimization.py
Owners: @Energinet-DataHub/Mandalorian

added another env. variable
  measurements/terraform/calculated-measurements/main/dbwj-calculated-measurements-database-migration.tf
  measurements/terraform/calculated-measurements/main/dbwj-capacity-settlement.tf
  measurements/terraform/calculated-measurements/main/dbwj-electrical-heating.tf
  measurements/terraform/calculated-measurements/main/dbwj-missing-measurements-log.tf
  measurements/terraform/calculated-measurements/main/locals.tf
Owners: @Energinet-DataHub/Mandalorian

chore: init project
  .tool-versions
  source/geh_wholesale/.python-version
  source/geh_wholesale/README.md
  source/geh_wholesale/pyproject.toml
  source/geh_wholesale/src/geh_wholesale/__init__.py
Owners: @Energinet-DataHub/Mandalorian

chore: move notebooks
  source/geh_wholesale/notebooks/Inspect basis data.py
  source/geh_wholesale/notebooks/README.md
  source/geh_wholesale/notebooks/data-anonymisation/anonymise_calculation_input_data.py
  source/geh_wholesale/notebooks/data-anonymisation/anonymise_wholesale_output_energy_results_data.py
  source/geh_wholesale/notebooks/data-anonymisation/anonymise_wholesale_output_main.py
  source/geh_wholesale/notebooks/data-anonymisation/anonymise_wholesale_output_wholesale_results_data.py
  source/geh_wholesale/notebooks/data-anonymisation/load_performance_test_data.py
  source/geh_wholesale/notebooks/data-anonymisation/move_anonymised_data_to_target_table.py
  source/geh_wholesale/notebooks/issue-32/add-gridarea-805-806-to-eventhub.scala
  source/geh_wholesale/notebooks/issue-32/balance-fixing-poc.py
  source/geh_wholesale/notebooks/issue-32/fix-gridarea-events.py
Owners: @Energinet-DataHub/Mandalorian

chore: move contracts
  source/geh_wholesale/contracts/README.md
  source/geh_wholesale/contracts/__init__.py
  source/geh_wholesale/contracts/calculation-job-parameters-reference.txt
  source/geh_wholesale/contracts/data_products/__init__.py
  source/geh_wholesale/contracts/data_products/wholesale_basis_data/__init__.py
  source/geh_wholesale/contracts/data_products/wholesale_basis_data/charge_link_periods_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_basis_data/charge_price_information_periods_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_basis_data/charge_price_points_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_basis_data/grid_loss_metering_points_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_basis_data/metering_point_periods_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_basis_data/time_series_points_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_results/__init__.py
  source/geh_wholesale/contracts/data_products/wholesale_results/amounts_per_charge_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_results/energy_per_brp_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_results/energy_per_es_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_results/energy_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_results/exchange_per_neighbor_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_results/grid_loss_metering_point_time_series_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_results/latest_calculations_by_day_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_results/monthly_amounts_per_charge_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_results/total_monthly_amounts_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_sap/__init__.py
  source/geh_wholesale/contracts/data_products/wholesale_sap/amounts_per_charge_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_sap/energy_v1.py
  source/geh_wholesale/contracts/data_products/wholesale_sap/latest_calculations_history_v1.py
  source/geh_wholesale/contracts/internal-calculation-job-parameters-reference.txt
  source/geh_wholesale/contracts/wholesale_internal/__init__.py
  source/geh_wholesale/contracts/wholesale_internal/succeeded_external_calculations_v1.py
Owners: @Energinet-DataHub/Mandalorian

chore: disable xdist initially
  source/geh_wholesale/pyproject.toml
Owners: @Energinet-DataHub/Mandalorian

chore: add python gitignores
  .gitignore
Owners: @Energinet-DataHub/Mandalorian

chore: add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/check_test_count.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose-windows.yml
  .devcontainer/docker-compose.yml
  .devcontainer/geh_wholesale/devcontainer.json
  .devcontainer/scripts/install-asdf.sh
  .devcontainer/scripts/post-create.sh
  .docker/Dockerfile
  .docker/entrypoint.sh
  .docker/requirements.txt
  .docker/spark-defaults.conf
Owners: @Energinet-DataHub/Mandalorian

ci: add reusable ci workflows
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TeamFusion

removing old changes
  measurements/terraform/calculated-measurements/main/dbw-unity.tf
Owners: @Energinet-DataHub/Mandalorian

removing old changes
  measurements/terraform/core/main/dbw-unity.tf
Owners: @Energinet-DataHub/Mandalorian

chore: fix circular dependencies
  source/geh_wholesale/src/geh_wholesale/calculation/__init__.py
  source/geh_wholesale/src/geh_wholesale/calculation/preparation/__init__.py
  source/geh_wholesale/src/geh_wholesale/calculation/preparation/data_structures/__init__.py
  source/geh_wholesale/src/geh_wholesale/calculation/preparation/data_structures/prepared_charges.py
  source/geh_wholesale/src/geh_wholesale/calculation/preparation/prepared_data_reader.py
Owners: @Energinet-DataHub/Mandalorian

chore: fix package references
  source/geh_wholesale/src/geh_wholesale/datamigration/migration.py
  source/geh_wholesale/tests/calculator_job/test_start.py
  source/geh_wholesale/tests/calculator_job/test_start_with_deps.py
  source/geh_wholesale/tests/scenarios/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: fix import paths
  source/geh_wholesale/tests/calculation/preparation/__init__.py
  source/geh_wholesale/tests/calculation/preparation/transformations/__init__.py
  source/geh_wholesale/tests/conftest.py
Owners: @Energinet-DataHub/Mandalorian

chore: fix entrypoint paths
  source/geh_wholesale/pyproject.toml
Owners: @Energinet-DataHub/Mandalorian

chore: fix import
  source/geh_wholesale/tests/calculation/preparation/transformations/test_get_grid_loss_metering_point_ids.py
  source/geh_wholesale/tests/calculation/preparation/transformations/test_grid_loss_metering_point_periods.py
Owners: @Energinet-DataHub/Mandalorian

chore: logging settings does not take a tracer_name argument
  source/databricks/calculation_engine/package/optimize_job/delta_optimization.py
Owners: @Energinet-DataHub/Mandalorian

chore: logging settings does not take a tracer_name argument (#3132)
  source/databricks/calculation_engine/package/optimize_job/delta_optimization.py
Owners: @Energinet-DataHub/Mandalorian

chore: all arguments are required to run the function
  source/geh_wholesale/tests/calculation/preparation/transformations/test_grid_loss_metering_point_periods.py
Owners: @Energinet-DataHub/Mandalorian

chore: fix infrastructure settings tests
  source/geh_wholesale/tests/infrastructure/test_infrastructure_settings.py
Owners: @Energinet-DataHub/Mandalorian

chore: fix entry point tests
  source/geh_wholesale/tests/entry_points/test_entry_points.py
Owners: @Energinet-DataHub/Mandalorian

chore: fix contract reference
  source/dotnet/wholesale-api/CalculationResults/CalculationResults.UnitTests/CalculationResults.UnitTests.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

chore: markdown should end in single empty line
  source/geh_wholesale/README.md
Owners: @Energinet-DataHub/Mandalorian

chore: fix contract reference
  source/dotnet/wholesale-api/Calculations/Calculations.UnitTests/Calculations.UnitTests.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

ci: split unit tests by category
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TeamFusion

ci: add cd workflow
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TeamFusion

database named as env variables
  source/databricks/calculation_engine/package/infrastructure/paths.py
Owners: @Energinet-DataHub/Mandalorian

instantied the class in the same file
  source/databricks/calculation_engine/package/infrastructure/paths.py
Owners: @Energinet-DataHub/Mandalorian

fixed new class
  source/databricks/calculation_engine/tests/datamigration/unity_catalog/test_unity_catalog.py
  source/databricks/calculation_engine/tests/helpers/spark_sql_migration_helper.py
Owners: @Energinet-DataHub/Mandalorian

ci: clean up changes and dispatch
  .github/workflows/cd.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TeamFusion

ci: ensure that everything from ci-databricks has been ported
  .github/actions/verify-migration-scripts/action.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TeamFusion

ci: minor path fixes
  .github/actions/verify-migration-scripts/action.yml
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TeamFusion

chore: remove quotes
  .github/actions/verify-migration-scripts/action.yml
Owners: @Energinet-DataHub/TeamFusion

chore: delete ci-databricks workflow
  .github/workflows/ci-databricks.yml
Owners: @Energinet-DataHub/TeamFusion

ci: migration scripts must be valid to allow merge
  .github/workflows/ci-orchestrator.yml
Owners: @Energinet-DataHub/TeamFusion

chore: do not include tests in distribution
  source/geh_wholesale/pyproject.toml
Owners: @Energinet-DataHub/Mandalorian

.github/CODEOWNERS:

* @Energinet-DataHub/Mandalorian
/.github/actions @Energinet-DataHub/TeamFusion
/.github/workflows @Energinet-DataHub/TeamFusion
/source/dotnet @Energinet-DataHub/Mandalorian @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Team-Raccoons
